*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
   
}
body{
    background-image: url(https://images.unsplash.com/photo-1618588507085-c79565432917?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmVhdXRpZnVsJTIwbmF0dXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
    background-size: cover;
    text-decoration:underline;
}
h1{
    text-align: center;
    color: rgba(236, 184, 184,0.7);
}

.b{

    width:60%;
    background-image: url(https://cdn5.vectorstock.com/i/1000x1000/71/64/dark-brick-wall-texture-vector-20917164.jpg);
    padding: 5px;
    /* background-size: cover; */
    margin: 5% 18%;
}
}

.b1{
    /* background-color: antiquewhite; */
    width:100%;
    height: 20%;
    
}
#b11{
    padding: 5px;
    margin: 25px 5px;
    border-radius: 5px;
}
#b12{
    padding: 5px;
    margin: 25px 5px;
    border-radius: 5px;
}
#b13{
    padding: 5px;
    margin: 25px 5px;
    border-radius: 5px;
}
#b14{
    padding: 5px;
    margin: 25px 5px;
    border-radius: 5px;
}



.b2{
    /* background-color: yellowgreen; */
    width:100%;
    /* height: 5%; */
}
#searchName{
    padding: 5px;
    margin: 25px 5px;
    border-radius: 20px;
}

.b3{
    /* background-color: rgb(209, 202, 194); */
    width:100%;
    height: 60%;
    padding: 5px;
}

.table{
    width: 100%;
    border: 3px ridge;
}

th,td{
    height: 25px;
    color: white;
}

.btn1{
    text-align: center;
    font-size: 20px;
    color: rgba(236, 184, 184,0.7);
}

.btn{
    
    margin: 3px;
    width: 40%;
    height: 20px;
    text-align: center;
}

.modal{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
}

.screen{
    height: 40%;
    width: 80%;
    background-color: white;
    margin:5% 10%;
    display: inline-block;
    padding: 10px;
}
.editor{
    width: 100%;
    height: 20%;
   margin:10% 2% ;
}

.form-control{
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    height:40px;
    width: 24%;
}